In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [7]:
data= pd.read_csv(r"C:\Users\BIT\Desktop\Education 1\Projects\MoSPI_Updated\cpi Group data.csv")

In [8]:
data.head(25)

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
0,2012,2024,December,All India,Combined,Food and Beverages,Cereals and Products,198.1,6.51
1,2012,2024,December,All India,Combined,Food and Beverages,Meat and Fish,222.5,5.3
2,2012,2024,December,All India,Combined,Food and Beverages,Egg,212.1,6.85
3,2012,2024,December,All India,Combined,Food and Beverages,Fruits,190.6,8.6
4,2012,2024,December,All India,Combined,Food and Beverages,Vegetables,258.3,26.56
5,2012,2024,December,All India,Combined,Food and Beverages,Pulses and Products,214.1,3.83
6,2012,2024,December,All India,Combined,Food and Beverages,Spices,227.4,-7.41
7,2012,2024,December,All India,Combined,Food and Beverages,"Prepared Meals, Snacks, Sweets etc.",206.1,4.04
8,2012,2024,December,All India,Combined,Food and Beverages,Non-alcoholic Beverages,182,3
9,2012,2024,December,All India,Combined,Food and Beverages,*,205.9,7.69
10,2012,2024,December,All India,Combined,"Pan, Tobacco and Intoxicants",*,209.6,2.49
11,2012,2024,December,All India,Combined,Clothing and Footwear,Clothing,196.3,2.83
12,2012,2024,December,All India,Combined,Clothing and Footwear,Footwear,186.2,2.08
13,2012,2024,December,All India,Combined,Clothing and Footwear,*,194.8,2.74
14,2012,2024,December,All India,Combined,Housing,*,181.7,2.71
15,2012,2024,December,All India,Combined,Fuel and Light,*,177.8,-1.33
16,2012,2024,December,All India,Combined,Miscellaneous,Household Goods and Services,182.9,2.81
17,2012,2024,December,All India,Combined,Miscellaneous,Health,198,4.05
18,2012,2024,December,All India,Combined,Miscellaneous,Transport and Communication,171,2.64
19,2012,2024,December,All India,Combined,Miscellaneous,Education,189.7,3.95
20,2012,2024,December,All India,Combined,Miscellaneous,*,186.5,4.19
21,2012,2024,December,All India,Rural,Food and Beverages,Cereals and Products,198.9,6.82
22,2012,2024,December,All India,Rural,Food and Beverages,Meat and Fish,219.1,5.34
23,2012,2024,December,All India,Rural,Food and Beverages,Egg,209.8,6.44
24,2012,2024,December,All India,Rural,Food and Beverages,Fruits,189,9.5

In [50]:
data.info

<bound method DataFrame.info of         BaseYear  Year     Month        State    Sector               Group  \
0           2012  2024  December    All India  Combined  Food and Beverages
1           2012  2024  December    All India  Combined  Food and Beverages
2           2012  2024  December    All India  Combined  Food and Beverages
3           2012  2024  December    All India  Combined  Food and Beverages
4           2012  2024  December    All India  Combined  Food and Beverages
...          ...   ...       ...          ...       ...                 ...
215956      2012  2014   January  West Bengal     Urban       Miscellaneous
215957      2012  2014   January  West Bengal     Urban       Miscellaneous
215958      2012  2014   January  West Bengal     Urban       Miscellaneous
215959      2012  2014   January  West Bengal     Urban       Miscellaneous
215960      2012  2014   January  West Bengal     Urban       Miscellaneous

                            SubGroup  Index Inflation (%)
0               Cereals and Products  198.1          6.51
1                      Meat and Fish  222.5           5.3
2                                Egg  212.1          6.85
3                             Fruits  190.6           8.6
4                         Vegetables  258.3         26.56
...                              ...    ...           ...
215956  Household Goods and Services  117.4         12.13
215957                        Health  110.3          5.75
215958   Transport and Communication  111.9          5.27
215959                     Education  111.5          6.09
215960                             *  112.1          6.97

[215961 rows x 9 columns]>

In [51]:
data.isnull().sum()

BaseYear         0
Year             0
Month            0
State            0
Sector           0
Group            0
SubGroup         0
Index            0
Inflation (%)    0
dtype: int64

In [52]:
data["SubGroup"].replace({"*" : np.nan}, inplace=True)

C:\Users\BIT\AppData\Local\Temp\ipykernel_25496\403528206.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["SubGroup"].replace({"*" : np.nan}, inplace=True)

In [53]:
data["Index"].replace({"*" : np.nan}, inplace=True)

C:\Users\BIT\AppData\Local\Temp\ipykernel_25496\1331821987.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Index"].replace({"*" : np.nan}, inplace=True)

In [54]:
data["Inflation (%)"].replace({"*" : np.nan}, inplace=True)

C:\Users\BIT\AppData\Local\Temp\ipykernel_25496\2710611657.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Inflation (%)"].replace({"*" : np.nan}, inplace=True)

In [55]:
data.tail(15)

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
215946,2012,2014,January,West Bengal,Urban,Food and Beverages,Spices,105.9,4.23
215947,2012,2014,January,West Bengal,Urban,Food and Beverages,"Prepared Meals, Snacks, Sweets etc.",124,13.66
215948,2012,2014,January,West Bengal,Urban,Food and Beverages,Non-alcoholic Beverages,113,7.82
215949,2012,2014,January,West Bengal,Urban,Food and Beverages,NaN,121.5,11.88
215950,2012,2014,January,West Bengal,Urban,"Pan, Tobacco and Intoxicants",NaN,122.2,17.16
215951,2012,2014,January,West Bengal,Urban,Clothing and Footwear,Clothing,116.7,10.2
215952,2012,2014,January,West Bengal,Urban,Clothing and Footwear,Footwear,112,7.49
215953,2012,2014,January,West Bengal,Urban,Clothing and Footwear,NaN,116.1,9.84
215954,2012,2014,January,West Bengal,Urban,Housing,NaN,109.2,8.33
215955,2012,2014,January,West Bengal,Urban,Fuel and Light,NaN,115.2,5.88
215956,2012,2014,January,West Bengal,Urban,Miscellaneous,Household Goods and Services,117.4,12.13
215957,2012,2014,January,West Bengal,Urban,Miscellaneous,Health,110.3,5.75
215958,2012,2014,January,West Bengal,Urban,Miscellaneous,Transport and Communication,111.9,5.27
215959,2012,2014,January,West Bengal,Urban,Miscellaneous,Education,111.5,6.09
215960,2012,2014,January,West Bengal,Urban,Miscellaneous,NaN,112.1,6.97

In [56]:
data[data["Index"] == "*"]

Empty DataFrame
Columns: [BaseYear, Year, Month, State, Sector, Group, SubGroup, Index, Inflation (%)]
Index: []

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215961 entries, 0 to 215960
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   BaseYear       215961 non-null  int64
 1   Year           215961 non-null  int64
 2   Month          215961 non-null  object
 3   State          215961 non-null  object
 4   Sector         215961 non-null  object
 5   Group          215961 non-null  object
 6   SubGroup       131670 non-null  object
 7   Index          205777 non-null  object
 8   Inflation (%)  200990 non-null  object
dtypes: int64(2), object(7)
memory usage: 14.8+ MB

In [58]:
data.isnull().sum()

BaseYear             0
Year                 0
Month                0
State                0
Sector               0
Group                0
SubGroup         84291
Index            10184
Inflation (%)    14971
dtype: int64

In [59]:
data.loc[data["Group"] == "Food and Beverages", "SubGroup"] = data.loc[data["Group"] == "Food and Beverages", "SubGroup"].fillna("Miscellaneous")

In [60]:
data[data["Group"] == "Food and Beverages"]

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
0,2012,2024,December,All India,Combined,Food and Beverages,Cereals and Products,198.1,6.51
1,2012,2024,December,All India,Combined,Food and Beverages,Meat and Fish,222.5,5.3
2,2012,2024,December,All India,Combined,Food and Beverages,Egg,212.1,6.85
3,2012,2024,December,All India,Combined,Food and Beverages,Fruits,190.6,8.6
4,2012,2024,December,All India,Combined,Food and Beverages,Vegetables,258.3,26.56
...,...,...,...,...,...,...,...,...,...
215945,2012,2014,January,West Bengal,Urban,Food and Beverages,Pulses and Products,118,5.45
215946,2012,2014,January,West Bengal,Urban,Food and Beverages,Spices,105.9,4.23
215947,2012,2014,January,West Bengal,Urban,Food and Beverages,"Prepared Meals, Snacks, Sweets etc.",124,13.66
215948,2012,2014,January,West Bengal,Urban,Food and Beverages,Non-alcoholic Beverages,113,7.82
215949,2012,2014,January,West Bengal,Urban,Food and Beverages,Miscellaneous,121.5,11.88

In [61]:
data.head(10)

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
0,2012,2024,December,All India,Combined,Food and Beverages,Cereals and Products,198.1,6.51
1,2012,2024,December,All India,Combined,Food and Beverages,Meat and Fish,222.5,5.3
2,2012,2024,December,All India,Combined,Food and Beverages,Egg,212.1,6.85
3,2012,2024,December,All India,Combined,Food and Beverages,Fruits,190.6,8.6
4,2012,2024,December,All India,Combined,Food and Beverages,Vegetables,258.3,26.56
5,2012,2024,December,All India,Combined,Food and Beverages,Pulses and Products,214.1,3.83
6,2012,2024,December,All India,Combined,Food and Beverages,Spices,227.4,-7.41
7,2012,2024,December,All India,Combined,Food and Beverages,"Prepared Meals, Snacks, Sweets etc.",206.1,4.04
8,2012,2024,December,All India,Combined,Food and Beverages,Non-alcoholic Beverages,182,3
9,2012,2024,December,All India,Combined,Food and Beverages,Miscellaneous,205.9,7.69

In [62]:
data.iloc[60:80]

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
60,2012,2024,December,All India,Urban,Miscellaneous,Transport and Communication,165.8,2.41
61,2012,2024,December,All India,Urban,Miscellaneous,Education,187.9,4.1
62,2012,2024,December,All India,Urban,Miscellaneous,NaN,182,4.12
63,2012,2024,December,Andaman and Nicobar Islands,Combined,Food and Beverages,Miscellaneous,216.6,3.34
64,2012,2024,December,Andaman and Nicobar Islands,Combined,"Pan, Tobacco and Intoxicants",NaN,213.2,2.25
65,2012,2024,December,Andaman and Nicobar Islands,Combined,Clothing and Footwear,NaN,180.8,1.4
66,2012,2024,December,Andaman and Nicobar Islands,Combined,Housing,NaN,NaN,NaN
67,2012,2024,December,Andaman and Nicobar Islands,Combined,Fuel and Light,NaN,163,4.89
68,2012,2024,December,Andaman and Nicobar Islands,Combined,Miscellaneous,NaN,183.1,4.51
69,2012,2024,December,Andaman and Nicobar Islands,Rural,Food and Beverages,Miscellaneous,225,3.69
70,2012,2024,December,Andaman and Nicobar Islands,Rural,"Pan, Tobacco and Intoxicants",NaN,205.9,0.54
71,2012,2024,December,Andaman and Nicobar Islands,Rural,Clothing and Footwear,NaN,193.3,1.05
72,2012,2024,December,Andaman and Nicobar Islands,Rural,Housing,NaN,NaN,NaN
73,2012,2024,December,Andaman and Nicobar Islands,Rural,Fuel and Light,NaN,158,7.19
74,2012,2024,December,Andaman and Nicobar Islands,Rural,Miscellaneous,NaN,188.1,2.96
75,2012,2024,December,Andaman and Nicobar Islands,Urban,Food and Beverages,Miscellaneous,204.6,2.81
76,2012,2024,December,Andaman and Nicobar Islands,Urban,"Pan, Tobacco and Intoxicants",NaN,233.3,6.72
77,2012,2024,December,Andaman and Nicobar Islands,Urban,Clothing and Footwear,NaN,165.8,1.91
78,2012,2024,December,Andaman and Nicobar Islands,Urban,Housing,NaN,206,0.24
79,2012,2024,December,Andaman and Nicobar Islands,Urban,Fuel and Light,NaN,170,2.1

In [63]:
data.loc[data["Group"] == "Food and Beverages", "SubGroup"] = data.loc[data["Group"] == "Food and Beverages", "SubGroup"].replace(to_replace="Miscellaneous", value= "Residual")

In [64]:
data

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
0,2012,2024,December,All India,Combined,Food and Beverages,Cereals and Products,198.1,6.51
1,2012,2024,December,All India,Combined,Food and Beverages,Meat and Fish,222.5,5.3
2,2012,2024,December,All India,Combined,Food and Beverages,Egg,212.1,6.85
3,2012,2024,December,All India,Combined,Food and Beverages,Fruits,190.6,8.6
4,2012,2024,December,All India,Combined,Food and Beverages,Vegetables,258.3,26.56
...,...,...,...,...,...,...,...,...,...
215956,2012,2014,January,West Bengal,Urban,Miscellaneous,Household Goods and Services,117.4,12.13
215957,2012,2014,January,West Bengal,Urban,Miscellaneous,Health,110.3,5.75
215958,2012,2014,January,West Bengal,Urban,Miscellaneous,Transport and Communication,111.9,5.27
215959,2012,2014,January,West Bengal,Urban,Miscellaneous,Education,111.5,6.09
215960,2012,2014,January,West Bengal,Urban,Miscellaneous,NaN,112.1,6.97

In [65]:
data.loc[data["Group"] == "Food and Beverages"]

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
0,2012,2024,December,All India,Combined,Food and Beverages,Cereals and Products,198.1,6.51
1,2012,2024,December,All India,Combined,Food and Beverages,Meat and Fish,222.5,5.3
2,2012,2024,December,All India,Combined,Food and Beverages,Egg,212.1,6.85
3,2012,2024,December,All India,Combined,Food and Beverages,Fruits,190.6,8.6
4,2012,2024,December,All India,Combined,Food and Beverages,Vegetables,258.3,26.56
...,...,...,...,...,...,...,...,...,...
215945,2012,2014,January,West Bengal,Urban,Food and Beverages,Pulses and Products,118,5.45
215946,2012,2014,January,West Bengal,Urban,Food and Beverages,Spices,105.9,4.23
215947,2012,2014,January,West Bengal,Urban,Food and Beverages,"Prepared Meals, Snacks, Sweets etc.",124,13.66
215948,2012,2014,January,West Bengal,Urban,Food and Beverages,Non-alcoholic Beverages,113,7.82
215949,2012,2014,January,West Bengal,Urban,Food and Beverages,Residual,121.5,11.88

In [66]:
data.loc[data["Group"] == "Pan, Tobacco and Intoxicants", "SubGroup"] = data.loc[data["Group"] == "Pan, Tobacco and Intoxicants", "SubGroup"].fillna("Residual")

In [67]:
data["Group"].unique()

array(['Food and Beverages', 'Pan, Tobacco and Intoxicants',
       'Clothing and Footwear', 'Housing', 'Fuel and Light',
       'Miscellaneous'], dtype=object)

In [68]:
data.loc[data["Group"] == "Clothing and Footwear", "SubGroup"] = data.loc[data["Group"] == "Clothing and Footwear", "SubGroup"].fillna("Residual")

In [69]:
data.loc[data["Group"] == "Fuel and Light", "SubGroup"] = data.loc[data["Group"] == "Fuel and Light", "SubGroup"].fillna("Residual")

In [70]:
data.loc[data["Group"] == "Miscellaneous", "SubGroup"] = data.loc[data["Group"] == "Miscellaneous", "SubGroup"].fillna("Residual")

In [71]:
data.loc[data["Group"] == "Housing", "SubGroup"] = data.loc[data["Group"] == "Housing", "SubGroup"].fillna("Housing")

In [72]:
data[60:80]

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
60,2012,2024,December,All India,Urban,Miscellaneous,Transport and Communication,165.8,2.41
61,2012,2024,December,All India,Urban,Miscellaneous,Education,187.9,4.1
62,2012,2024,December,All India,Urban,Miscellaneous,Residual,182,4.12
63,2012,2024,December,Andaman and Nicobar Islands,Combined,Food and Beverages,Residual,216.6,3.34
64,2012,2024,December,Andaman and Nicobar Islands,Combined,"Pan, Tobacco and Intoxicants",Residual,213.2,2.25
65,2012,2024,December,Andaman and Nicobar Islands,Combined,Clothing and Footwear,Residual,180.8,1.4
66,2012,2024,December,Andaman and Nicobar Islands,Combined,Housing,Housing,NaN,NaN
67,2012,2024,December,Andaman and Nicobar Islands,Combined,Fuel and Light,Residual,163,4.89
68,2012,2024,December,Andaman and Nicobar Islands,Combined,Miscellaneous,Residual,183.1,4.51
69,2012,2024,December,Andaman and Nicobar Islands,Rural,Food and Beverages,Residual,225,3.69
70,2012,2024,December,Andaman and Nicobar Islands,Rural,"Pan, Tobacco and Intoxicants",Residual,205.9,0.54
71,2012,2024,December,Andaman and Nicobar Islands,Rural,Clothing and Footwear,Residual,193.3,1.05
72,2012,2024,December,Andaman and Nicobar Islands,Rural,Housing,Housing,NaN,NaN
73,2012,2024,December,Andaman and Nicobar Islands,Rural,Fuel and Light,Residual,158,7.19
74,2012,2024,December,Andaman and Nicobar Islands,Rural,Miscellaneous,Residual,188.1,2.96
75,2012,2024,December,Andaman and Nicobar Islands,Urban,Food and Beverages,Residual,204.6,2.81
76,2012,2024,December,Andaman and Nicobar Islands,Urban,"Pan, Tobacco and Intoxicants",Residual,233.3,6.72
77,2012,2024,December,Andaman and Nicobar Islands,Urban,Clothing and Footwear,Residual,165.8,1.91
78,2012,2024,December,Andaman and Nicobar Islands,Urban,Housing,Housing,206,0.24
79,2012,2024,December,Andaman and Nicobar Islands,Urban,Fuel and Light,Residual,170,2.1

In [73]:
data.loc[data["Index"].isna(), "Index"] = data["Index"].mode()[0]

In [74]:
# Step 1: Ensure column is numeric
data["Inflation (%)"] = pd.to_numeric(data["Inflation (%)"], errors="coerce")

# Step 2: Fill NaN values with median using loc
data.loc[data["Inflation (%)"].isna(), "Inflation (%)"] = data["Inflation (%)"].median()

In [75]:
data[203955:203975]

,BaseYear,Year,Month,State,Sector,Group,SubGroup,Index,Inflation (%)
203955,2012,2014,August,Uttar Pradesh,Combined,Food and Beverages,Spices,119.4,10.35
203956,2012,2014,August,Uttar Pradesh,Combined,Food and Beverages,"Prepared Meals, Snacks, Sweets etc.",120.8,7.57
203957,2012,2014,August,Uttar Pradesh,Combined,Food and Beverages,Non-alcoholic Beverages,113.9,3.83
203958,2012,2014,August,Uttar Pradesh,Combined,Food and Beverages,Residual,127.8,9.79
203959,2012,2014,August,Uttar Pradesh,Combined,"Pan, Tobacco and Intoxicants",Residual,119.2,8.17
203960,2012,2014,August,Uttar Pradesh,Combined,Clothing and Footwear,Clothing,120.9,8.14
203961,2012,2014,August,Uttar Pradesh,Combined,Clothing and Footwear,Footwear,118.4,6.96
203962,2012,2014,August,Uttar Pradesh,Combined,Clothing and Footwear,Residual,120.5,7.97
203963,2012,2014,August,Uttar Pradesh,Combined,Housing,Housing,123.4,4.89
203964,2012,2014,August,Uttar Pradesh,Combined,Fuel and Light,Residual,114.1,3.35
203965,2012,2014,August,Uttar Pradesh,Combined,Miscellaneous,Household Goods and Services,115.9,6.33
203966,2012,2014,August,Uttar Pradesh,Combined,Miscellaneous,Health,113.2,5.60
203967,2012,2014,August,Uttar Pradesh,Combined,Miscellaneous,Transport and Communication,113.8,3.83
203968,2012,2014,August,Uttar Pradesh,Combined,Miscellaneous,Education,115.2,5.88
203969,2012,2014,August,Uttar Pradesh,Combined,Miscellaneous,Residual,113.3,5.00
203970,2012,2014,August,Uttar Pradesh,Rural,Food and Beverages,Cereals and Products,122.5,6.99
203971,2012,2014,August,Uttar Pradesh,Rural,Food and Beverages,Meat and Fish,127,10.05
203972,2012,2014,August,Uttar Pradesh,Rural,Food and Beverages,Egg,114.7,5.81
203973,2012,2014,August,Uttar Pradesh,Rural,Food and Beverages,Fruits,126.8,16.97
203974,2012,2014,August,Uttar Pradesh,Rural,Food and Beverages,Vegetables,170.8,21.31

In [76]:
data.rename(columns={"BaseYear": "BYear"}, inplace=True)

In [77]:
data.rename(columns={"Year": "Year_i"}, inplace=True)

In [78]:
data.rename(columns={"Month": "Month_i"}, inplace=True)

In [79]:
data.rename(columns={"State": "State_i"}, inplace=True)

In [80]:
data.rename(columns={"Index": "Index_i"}, inplace=True)

In [81]:
data.rename(columns={"Inflation (%)": "Inflation"}, inplace=True)

In [82]:
data.rename(columns={"Group": "Group_i"}, inplace=True)

In [83]:
data["Index_i"] = pd.to_numeric(data["Index_i"], errors="coerce")

In [84]:
data["Index_i"] = data["Index_i"].astype(int)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215961 entries, 0 to 215960
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   BYear      215961 non-null  int64
 1   Year_i     215961 non-null  int64
 2   Month_i    215961 non-null  object
 3   State_i    215961 non-null  object
 4   Sector     215961 non-null  object
 5   Group_i    215961 non-null  object
 6   SubGroup   215961 non-null  object
 7   Index_i    215961 non-null  int64
 8   Inflation  215961 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 14.8+ MB

In [85]:
data.to_csv("cleaned_sheet.csv")

In [86]:
data

,BYear,Year_i,Month_i,State_i,Sector,Group_i,SubGroup,Index_i,Inflation
0,2012,2024,December,All India,Combined,Food and Beverages,Cereals and Products,198,6.51
1,2012,2024,December,All India,Combined,Food and Beverages,Meat and Fish,222,5.30
2,2012,2024,December,All India,Combined,Food and Beverages,Egg,212,6.85
3,2012,2024,December,All India,Combined,Food and Beverages,Fruits,190,8.60
4,2012,2024,December,All India,Combined,Food and Beverages,Vegetables,258,26.56
...,...,...,...,...,...,...,...,...,...
215956,2012,2014,January,West Bengal,Urban,Miscellaneous,Household Goods and Services,117,12.13
215957,2012,2014,January,West Bengal,Urban,Miscellaneous,Health,110,5.75
215958,2012,2014,January,West Bengal,Urban,Miscellaneous,Transport and Communication,111,5.27
215959,2012,2014,January,West Bengal,Urban,Miscellaneous,Education,111,6.09
215960,2012,2014,January,West Bengal,Urban,Miscellaneous,Residual,112,6.97

In [87]:
import psycopg2

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215961 entries, 0 to 215960
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   BYear      215961 non-null  int64
 1   Year_i     215961 non-null  int64
 2   Month_i    215961 non-null  object
 3   State_i    215961 non-null  object
 4   Sector     215961 non-null  object
 5   Group_i    215961 non-null  object
 6   SubGroup   215961 non-null  object
 7   Index_i    215961 non-null  int64
 8   Inflation  215961 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 14.8+ MB

In [89]:
from sqlalchemy import create_engine

engine = create_engine("postgresql+psycopg2://postgres:Himanshu@localhost:5432/mospi")
print("SQLAlchemy connected ✅")

SQLAlchemy connected ✅

In [90]:
import psycopg2
import pandas as pd

# 1. Load DataFrame
df = pd.read_csv("cleaned_sheet.csv")
print("Worksheet loaded ✅")

# Optional: if you don't want the auto-index column from CSV, uncomment:
# df = df.loc[:, ~df.columns.str.startswith("Unnamed")]

# 2. Connect to PostgreSQL
conn = psycopg2.connect(
    host="localhost",
    database="mospi",
    user="postgres",
    password="12345",
    port="5432"
)
cur = conn.cursor()
print("Connected to PostgreSQL ✅")

# 3. Fixed table name
table_name = "inflation"

# 4. Drop the table if it exists
cur.execute(f"DROP TABLE IF EXISTS {table_name}")
conn.commit()

# 5. Map Pandas dtypes to PostgreSQL
dtype_mapping = {
    "int64": "BIGINT",
    "float64": "DOUBLE PRECISION",
    "object": "TEXT"
}

columns = []
print("\n📌 Column → PostgreSQL type mapping:")
for col, dtype in df.dtypes.items():
    pg_type = dtype_mapping.get(str(dtype), "TEXT")  # fallback: TEXT
    print(f" - {col}: {dtype}  →  {pg_type}")
    columns.append(f'"{col}" {pg_type}')

# Create table with mapped types
create_table_query = f"CREATE TABLE {table_name} ({', '.join(columns)});"
cur.execute(create_table_query)
conn.commit()
print(f"\nTable '{table_name}' created ✅")

# 6. Insert DataFrame data into PostgreSQL (row by row)
num_cols = df.shape[1]
placeholders = ', '.join(['%s'] * num_cols)

# Build column names string, then ESCAPE any literal '%' by doubling them (%%)
col_names = ', '.join([f'"{col}"' for col in df.columns])
safe_col_names = col_names.replace('%', '%%')   # <-- important: escape % in identifiers/text

insert_query = f'INSERT INTO {table_name} ({safe_col_names}) VALUES ({placeholders})'
# Debug print (uncomment if you want to inspect the final query string)
# print("DEBUG INSERT QUERY:", insert_query)

for i, row in enumerate(df.itertuples(index=False, name=None), start=1):
    # optional debug/check:
    # if len(row) != num_cols:
    #     raise RuntimeError(f"Row length {len(row)} != num_cols {num_cols} (row index {i})")

    cur.execute(insert_query, row)

conn.commit()
print("Data inserted into PostgreSQL ✅")

# 7. Verify the data
cur.execute(f"SELECT * FROM {table_name} LIMIT 5;")
rows = cur.fetchall()
print("\nSample data from table:")
for r in rows:
    print(r)

# 8. Close connection
cur.close()
conn.close()
print("\nPostgreSQL connection closed ✅")

Worksheet loaded ✅
Connected to PostgreSQL ✅

📌 Column → PostgreSQL type mapping:
 - Unnamed: 0: int64  →  BIGINT
 - BYear: int64  →  BIGINT
 - Year_i: int64  →  BIGINT
 - Month_i: object  →  TEXT
 - State_i: object  →  TEXT
 - Sector: object  →  TEXT
 - Group_i: object  →  TEXT
 - SubGroup: object  →  TEXT
 - Index_i: int64  →  BIGINT
 - Inflation: float64  →  DOUBLE PRECISION

Table 'inflation' created ✅
Data inserted into PostgreSQL ✅

Sample data from table:
(0, 2012, 2024, 'December', 'All India', 'Combined', 'Food and Beverages', 'Cereals and Products', 198, 6.51)
(1, 2012, 2024, 'December', 'All India', 'Combined', 'Food and Beverages', 'Meat and Fish', 222, 5.3)
(2, 2012, 2024, 'December', 'All India', 'Combined', 'Food and Beverages', 'Egg', 212, 6.85)
(3, 2012, 2024, 'December', 'All India', 'Combined', 'Food and Beverages', 'Fruits', 190, 8.6)
(4, 2012, 2024, 'December', 'All India', 'Combined', 'Food and Beverages', 'Vegetables', 258, 26.56)

PostgreSQL connection closed ✅

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215961 entries, 0 to 215960
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   BYear      215961 non-null  int64
 1   Year_i     215961 non-null  int64
 2   Month_i    215961 non-null  object
 3   State_i    215961 non-null  object
 4   Sector     215961 non-null  object
 5   Group_i    215961 non-null  object
 6   SubGroup   215961 non-null  object
 7   Index_i    215961 non-null  int64
 8   Inflation  215961 non-null  float64
dtypes: float64(1), int64(3), object(5)
memory usage: 14.8+ MB